{% extends "datacollector/home.html" %} {% load crispy_forms_tags %}
{% block content %}
<div class="container d-flex justify-content-center">
  <div
    class="row"
    id="main-form-container-row"
  >
    <div class="col">
      <div class="d-flex justify-content-center;">
        <form
          action=""
          method="post"
          enctype="multipart/form-data"
          id="main-form"
        >
            <div id="crispy-form-box">
                {% csrf_token %} {{ wizard.management_form }} {{ wizard.form|crispy }}
            </div>
          <div id="crispy-form-bottom-box">
            <p>
              Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
            </p>
            {% if wizard.steps.prev %}
            <div>
              <button
                class="btn btn-secondary"
                name="wizard_goto_step"
                type="submit"
                value="{{ wizard.steps.prev }}"
              >
                Back
              </button>
              {% endif %}
              <button class="btn btn-primary" type="submit">Next</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
