
{% extends "datacollector/home.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-sm d-flex justify-content-start">
    <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ wizard.management_form }}
                {{ wizard.form|crispy }}
            </table>
            {% if wizard.steps.prev %}
                <button class= "btn btn-secondary " name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
                    Back
                </button>
            {% endif %}
            <input class="btn btn-primary" type="submit" value="Next"/>
            <p style="margin-top:2rem; font-size: small">
                Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
            </p>
        </form>
    </div>
{% endblock %}
